<div class="person-details cf" *ng-if="person">
	<div class="picture">
		<img src="{{person.picture.large}}">
	</div>
	<ul class="meta-information">
		<li><strong>{{ person.name.first | capitalize }}&nbsp;{{ person.name.last | capitalize}}</strong></li>
		<li>-&nbsp;{{ person.email }}</li>
		<li>-&nbsp;{{ person.username }}</li>
		<li>-&nbsp;{{ person.phone }}</li>
		<li>-&nbsp;{{ person.location.street}}, {{ person.location.city}}, {{ person.location.zip}}&nbsp;{{ person.location.state}}</li>
	</ul>
</div>