.person{
	width: 20em;
	height: 5em;
	border: 1px solid #bbb;
	box-sizing: border-box;
	padding: 0.5em;
	margin: 1em;
	display: inline-block;
}

.person:hover{
	background-color: #ddd;
	cursor: pointer;
}

.person .picture{
	float: left;
	width: 4em;
}

.person .picture img{
	height: 4em;
	border-radius: 50px;
}

.person .name{
	float: left;
	line-height: 50px;
	padding-left: 1em;
}